* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Constantia';
    src: url(assets/fonts/Constantia/constantia.ttf);
    font-style: normal;
    font-weight: 400;
}

.wrapper {
    background-image: url(assets/img/bg/bg-section-1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 1440px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1440px;
}
.title h2  {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
}
.title {
    text-align: center;
    margin:80px 0 40px 0;
}

/* header */

header {
    background-color: rgba(242, 120, 92, 0.7);
    padding: 0 120px 0 120px;
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.nav-items-travel {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    align-items: center;
}

.logo-travel {
    display: flex;

}

.title-logo h2 {
    font-family: 'Constantia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}

.logo-travel img {
    width: 30px;
}

.menu-items-travel {
    display: flex;
    justify-content: space-between;
}

.menu-items-travel a {
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.menu-items-travel ul:not(:first-child) {
    margin-left: 42px;
}

.btn-login {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: rgba(13, 96, 111, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    color: white;
    border: none;
    cursor: pointer;
    width: 103px;
    height: 41px;
    border-radius: 10px;
}

.btn-login:hover {
    opacity: 0.8;
}


/* PREVIEW */

.plan-trip {
    width: 892px;
    height: 643px;
    margin-top: 32px;
    margin-left: 120px;
}

.title-plan-trip, h1 {
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #FFFFFF;
    margin-bottom: 46px;
}

.trip-recomendation p {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 46px;
}

input:-moz-placeholder {
    color: #B6C0A5;
    font-style: italic;
    background: #E0EFCA;
}

.travel-search {
    display: flex;
}
form{
    width: 100%;
}

input {
    width: 100%;
    height: 95px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    padding-left: 41px;
    border: 0px;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
}

.btn-main {
    height: 59px;
    width: 228px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    background-color: rgba(13, 96, 111, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    left: 650px;
    top: -77px;
}

.btn-main:before {
    content: "";
    font-family: FontAwesome;
    color: #F9F0DA;
    font-size: 20px;
    font-weight: bold;
}



    /* STEP */

.title h2  {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
}
.step-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.step-information li   {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
    margin-top: 30px;
}
.pictures-countries-items   {
    display: flex;
}
.pictures-countries-items span{
    position: relative;
}